[access]
	inheritFrom = ring
[access "refs/heads/*"]
	push = +force group Core Developers
	create = group Core Developers
	pushMerge = group Core Developers
	pushTag = +force group Core Developers
	pushSignedTag = group Core Developers
	forgeAuthor = group Core Developers
	forgeCommitter = group Core Developers
[access "refs/tags/*"]
	create = group Core Developers
